main {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

header {
  background: lightblue;
}

section {
  background: lightgreen;
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  flex-basis: 600px;
}

header, article, section, .module {
  padding: 1rem;
}

.content {
  display:flex;
}
