.cennterFrame {
	position: relative;
	background-color: green;
	margin: 50px 50px;
}

.centerFrame::before {
	left: -5px;
	top: -5px;
	background-color: blue;
}

.centerFrame::after {
	top: -10px;
	left: -10px;
	background-color: red;
}

.centerFrame, .centerFrame::before, .centerFrame::after {
	width: 700px;
	height: 700px;
}

.centerFrame::before, .centerFrame::after {
	position: absolute;
	content: "";
}
