.threeFrames {
	position: relative;
	background-color: green;
	margin: 50px 50px;
}

.threeFrames::before {
	left: -5px;
	top: -5px;
	background-color: blue;
}

.threeFrames::after {
	top: -10px;
	left: -10px;
	background-color: red;
}

.threeFrames, .threeFrames::before, .threeFrames::after {
	width: 700px;
	height: 700px;
}

.threeFrames::before, .threeFrames::after {
	position: absolute;
	content: "";
}
