.threeFrame {
	position: relative;
	background-color: green;
	margin: 50px 50px;
}

.threeFrame::before {
	left: -5px;
	top: -5px;
	background-color: blue;
}

.threeFrame::after {
	top: -10px;
	left: -10px;
	background-color: red;
}

.threeFrame, .threeFrame::before, .threeFrame::after {
	width: 700px;
	height: 700px;
}

.threeFrame::before, .threeFrame::after {
	position: absolute;
	content: "";
}
