#slider {
	position: relative;
	width: 1000px;
	height: 700px;
	margin: 80px auto;
	border: 1px solid black;
	border-radius: 15px;
}

#slider__button {
	display: flex;
}

.button {
	box-sizing: border-box;
	width: 50%;
	height: 70px;
	border-radius: 1px;
	border: 1px solid #76daff;
	font-size: 40px;
	color: #76daff;
	font-weight: bolder;
	text-align: center;
	font-family: monospace;
	cursor: pointer;
	user-select: none;
	outline: none;

}

#slider__img {
	background-size: 100% 100%;
	border-radius: 15px 15px 0 0;
	width: 1000px;
	height: 630px;
	transition-property: background-image;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.button_prev {
	background-color: black;
	border-radius: 0 0 0 10px;
}

.button_next {
	background-color: black;
	border-radius: 0 0 10px 0;
}

.button:active {
	box-shadow: 0 0 10px black;
}

.button:hover {
	opacity: 0.9;
}
